* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --buttons-nav: #218380;
    --body-background: #ffffff;
}

header > nav {
    height: 10vh;
    background-color: var(--buttons-nav);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 25px;
    padding-right: 75px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
nav > p {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}